<a href="https://colab.research.google.com/github/preetmodi/Credit-Risk-Analytics/blob/main/Data_Cleaning_P.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mount Drive

In [1]:
!sudo echo -ne '\n' | sudo add-apt-repository ppa:alessandro-strada/ppa >/dev/null 2>&1 # note: >/dev/null 2>&1 is used to supress printing
!sudo apt update >/dev/null 2>&1
!sudo apt install google-drive-ocamlfuse >/dev/null 2>&1
!google-drive-ocamlfuse
!sudo apt-get install w3m >/dev/null 2>&1 # to act as web browser 
!xdg-settings set default-web-browser w3m.desktop >/dev/null 2>&1 # to set default browser 
%cd /content
!mkdir gdrive
%cd gdrive
!mkdir "My Drive"
!google-drive-ocamlfuse "/content/gdrive/My Drive"

/usr/bin/xdg-open: 869: www-browser: not found
/usr/bin/xdg-open: 869: links2: not found
/usr/bin/xdg-open: 869: elinks: not found
/usr/bin/xdg-open: 869: links: not found
/usr/bin/xdg-open: 869: lynx: not found
/usr/bin/xdg-open: 869: w3m: not found
xdg-open: no method available for opening 'https://accounts.google.com/o/oauth2/auth?client_id=564921029129.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fgd-ocaml-auth.appspot.com%2Foauth2callback&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force&state=2cJUYufG9EAPB97x4SPgQoUM9V4kZXfeU3UrUIHPn%2F4'
/bin/sh: 1: firefox: not found
/bin/sh: 1: google-chrome: not found
/bin/sh: 1: chromium-browser: not found
/bin/sh: 1: open: not found
Cannot retrieve auth tokens.
Failure("Error opening URL:https://accounts.google.com/o/oauth2/auth?client_id=564921029129.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fgd-ocaml-auth.appspot.com%2Foauth2callback&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force&state=2cJUYufG9EAPB97x4SPgQoUM9V4kZXfeU3UrUIHPn%2F4")
/content
/content/gdrive
Access token retrieved correctly.

# Unzip files

In [ ]:
# %cd /content/gdrive/My Drive/Data/

In [ ]:
# !unzip "LCOrigination Data.zip"

# Data Exploration

In [2]:
%cd /content/gdrive/My Drive/Data/

/content/gdrive/My Drive/Data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [2]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
df = pd.read_csv("./../LCOrigination Data/LCOrigination.csv", low_memory=False)

In [4]:
df.iloc[:,-10:]

,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1280641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1280642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1280643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1280644,NaN,NaN,NaN,NaN,NaN,ACTIVE,Mar-2019,10000.0,44.82,1.0
1280645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns.to_list().index('collection_recovery_fee')

39

In [6]:
df.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,...,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,1.280615e+06,1.280615e+06,1.280615e+06,1.280615e+06,1.280615e+06,1.280615e+06,1.279707e+06,1.280615e+06,1.280615e+06,1.280615e+06,...,8610.0,8610.000000,8610.0,8610.000000,6432.000000,8610.000000,8610.000000,34214.000000,34214.000000,34214.000000
mean,1.513560e+04,1.513023e+04,1.511406e+04,1.340095e+01,4.488773e+02,7.715590e+04,1.898675e+01,3.123031e-01,6.973707e+02,7.013708e+02,...,3.0,159.393786,3.0,14.445296,467.320499,11812.129483,197.559281,5011.163605,47.773142,13.196031
std,9.164207e+03,9.162097e+03,9.163897e+03,4.923413e+00,2.672979e+02,7.592994e+04,1.399290e+01,8.765886e-01,3.246384e+01,3.246464e+01,...,0.0,132.041083,0.0,9.440823,384.066227,7668.925156,199.297305,3691.736410,7.304390,8.159966
min,5.000000e+02,5.000000e+02,0.000000e+00,5.310000e+00,4.930000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,6.250000e+02,6.290000e+02,...,3.0,1.470000,3.0,0.000000,4.410000,174.150000,0.010000,44.210000,0.200000,0.000000
25%,8.000000e+03,8.000000e+03,8.000000e+03,9.930000e+00,2.552500e+02,4.550000e+04,1.206000e+01,0.000000e+00,6.700000e+02,6.740000e+02,...,3.0,61.402500,3.0,7.000000,180.592500,5736.040000,48.102500,2208.370000,45.000000,6.000000
50%,1.300000e+04,1.300000e+04,1.300000e+04,1.279000e+01,3.816400e+02,6.500000e+04,1.805000e+01,0.000000e+00,6.900000e+02,6.940000e+02,...,3.0,122.420000,3.0,16.000000,362.700000,10211.385000,136.885000,4147.000000,45.000000,14.000000
75%,2.000000e+04,2.000000e+04,2.000000e+04,1.614000e+01,5.953100e+02,9.200000e+04,2.472000e+01,0.000000e+00,7.150000e+02,7.190000e+02,...,3.0,220.037500,3.0,23.000000,642.285000,16410.052500,287.407500,6851.195000,50.000000,18.000000
max,4.000000e+04,4.000000e+04,4.000000e+04,3.099000e+01,1.719830e+03,1.099920e+07,9.990000e+02,5.800000e+01,8.450000e+02,8.500000e+02,...,3.0,943.940000,3.0,32.000000,2680.890000,38399.000000,1407.860000,33601.000000,521.350000,181.000000

# Open Metadata FIle

In [7]:
columns = pd.read_excel("./../LCDataDictionaryClean.xlsx")['Variable'].to_list()
columns

['id',
 'AmountRequested',
 'loan_amnt',
 'term',
 'ApplicationDate',
 'Risk_Score',
 'ficoRangeHigh',
 'ficoRangeLow',
 'acc_open_past_24mths',
 'addr_state',
 'all_util',
 'annual_inc',
 'annual_inc_joint',
 'application_type',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_2yrs',
 'desc',
 'dti',
 'dti_joint',
 'earliest_cr_line',
 'emp_length',
 'emp_title',
 'fico_range_high',
 'fico_range_low',
 'funded_amnt',
 'funded_amnt_inv',
 'home_ownership',
 'il_util',
 'inq_fi',
 'inq_last_12m',
 'inq_last_6mths',
 'max_bal_bc',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_last_record',
 'mths_since_rcnt_il',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'open_acc',
 'open_acc_6m',
 'open_il_12m',
 'open_il_24m',
 'open_act_il',
 'open_rv_12m',
 'open_rv_24m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec',
 'pub_rec_bankruptcies',
 'purpose',
 'revol_bal',
 'revol_util',
 'tax_liens',
 'title',
 'tot_coll_amt',
 'tot_cur_bal',
 'tot_hi_cred_lim',
 'total_acc',
 'total_bal_ex_mort',
 'total_bal_il',
 'total_bc_limit',
 'total_cu_tl',
 'total_il_high_credit_limit',
 'verification_status',
 'zip_code',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'addrState',
 'annual_inc_joint',
 'annualInc',
 'bcOpenToBuy',
 'bcUtil',
 'delinq2Yrs',
 'delinqAmnt',
 'dti',
 'dti_joint',
 'earliestCrLine',
 'empLength',
 'homeOwnership',
 'inqLast6Mths',
 'isIncV',
 'mortAcc',
 'msa',
 'mths_since_oldest_il_open',
 'mthsSinceLastDelinq',
 'mthsSinceLastRecord',
 'mthsSinceMostRecentInq',
 'mthsSinceRecentBc',
 'mthsSinceRecentLoanDelinq',
 'mthsSinceRecentRevolDelinq',
 'openAcc',
 'percentBcGt75',
 'pubRec',
 'revolBal',
 'revolUtil',
 'totalAcc',
 'totalBalExMort',
 'totalBcLimit',
 'sec_app_chargeoff_within_12_mths',
 'Debt_To_IncomeRatio',
 'ZipCode',
 'State',
 'EmploymentLength',
 'installment']

In [8]:
total_columns = [column for column in df.columns.to_list() if column in columns]
total_columns

['id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'installment',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog']

# Performance DF

In [9]:
# perfromance_columns = df.drop(columns = total_columns).columns.to_list()

In [10]:
# perfromance_columns_orig = pd.read_excel("LCDataDictionaryClean.xlsx", sheet_name="Performance")['Variable'].to_list()
# sum([1 for column in perfromance_columns if column in perfromance_columns_orig])

#Origination DF

In [11]:
len(total_columns)

89

In [12]:
df['Default'] = df['loan_status'].apply(lambda x: 1 if x == 'Default' or x=='Charged Off' else 0)
origination_df = df[total_columns+['Default']]

In [13]:
origination_df.isnull().sum()

id                                           0
loan_amnt                                   31
funded_amnt                                 31
funded_amnt_inv                             31
term                                        31
                                        ...
sec_app_num_rev_accts                  1222471
sec_app_chargeoff_within_12_mths       1222471
sec_app_collections_12_mths_ex_med     1222471
sec_app_mths_since_last_major_derog    1260860
Default                                      0
Length: 90, dtype: int64

In [14]:
null_columns = origination_df.columns[origination_df.isnull().any()]
null = origination_df[null_columns[60:]].isnull().sum()

In [15]:
# null[null>31].value_counts()

In [16]:
# null

In [17]:
last_30_df = origination_df[null.index[:17]].dropna()

In [18]:
# last_30_df.describe()

In [19]:
# print(origination_df['num_bc_tl'].value_counts()[0])

In [20]:
# origination_df[null.index[:17]].describe()

In [21]:
# origination_df[origination_df['application_type']=='Joint App']['dti_joint'] # 'annual_inc_joint']].value_counts()

In [22]:
# origination_df['pub_rec'].value_counts(dropna=False)
# origination_df['mths_since_recent_bc_dlq'].isnull().sum()
# origination_df['emp_title'].dropna()[origination_df['emp_title'].dropna().str.startswith("")]

In [23]:
# origination_df['emp_length'].value_counts(dropna=False)[np.nan]

In [24]:
# origination_df.columns[origination_df.columns.str.contains("emp")]
# origination_df[origination_df['emp_length'].isnull()]['emp_title'].value_counts(dropna=False)

In [25]:
# origination_df['emp_length']

In [26]:
# origination_df['mths_since_recent_bc_dlq'].value_counts()

In [27]:
# origination_df['open_acc_6m'][origination_df['mths_since_rcnt_il'].isnull()].value_counts(dropna=False)

In [28]:
# origination_df['mo_sin_old_rev_tl_op'].dropna()

In [29]:
# origination_df['percent_bc_gt_75'].value_counts(dropna=False)

In [30]:
# origination_df[origination_df['application_type']=='Joint App']['sec_app_mort_acc'].value_counts(dropna=False).sum()

In [31]:
# len(origination_df) - 1260860 #58175

In [32]:
# origination_df['sec_app_mths_since_last_major_derog']

#Transformation First 30

In [33]:
transformed_data = origination_df.copy()

### Generate Coborrower income column and delete annual_inc_joint column

In [34]:
transformed_data['annual_inc_joint'][transformed_data['annual_inc_joint'].isna()] = origination_df['annual_inc'][transformed_data['annual_inc_joint'].isna()]
drop_columns = ['annual_inc']

C:\Users\preet\AppData\Local\Temp\ipykernel_23804\2597307426.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transformed_data['annual_inc_joint'][transformed_data['annual_inc_joint'].isna()] = origination_df['annual_inc'][transformed_data['annual_inc_joint'].isna()]

In [35]:
transformed_data['dti_joint'] = origination_df['dti_joint'].fillna(-1)

In [36]:
drop_columns.append('mths_since_last_record')

In [37]:
drop_columns+=['emp_length', 'emp_title']

In [38]:
drop_columns+=['desc']

In [39]:
transformed_data['bank_dlq'] = np.where(origination_df['mths_since_recent_bc_dlq'].isnull(), 0, 1)

# drop_columns+=['mths_since_recent_bc_dlq']
transformed_data['mths_since_recent_bc_dlq'] = transformed_data['mths_since_recent_bc_dlq'].fillna(-1)

# Transformation Mid 30

In [40]:
transformed_data['il_acc'] = np.where(origination_df['mths_since_rcnt_il'].isnull(), 0, 1)
# drop_columns += ['mths_since_rcnt_il']
transformed_data['mths_since_rcnt_il'] = transformed_data['mths_since_rcnt_il'].fillna(-1)

In [41]:
transformed_data['total_bal_il'] = origination_df['total_bal_il'].fillna(-1)

In [42]:
drop_columns

['annual_inc', 'mths_since_last_record', 'emp_length', 'emp_title', 'desc']

In [43]:
# origination_df['il_util'].value_counts(dropna=False)

Replacing with -1 to create new caategory for people wo did not have an installment account ever.

In [44]:
transformed_data['il_util'] = origination_df['il_util'].fillna(-1) # Replacing nan with 0 might coincide with the people who have paid up their loans and have 0 balance. Hence, 0 il_util

In [45]:
transformed_data['mo_sin_old_il_acct'] = transformed_data['mo_sin_old_il_acct'].fillna(-1)
transformed_data['mo_sin_old_rev_tl_op'] = transformed_data['mo_sin_old_rev_tl_op'].fillna(-1)
transformed_data['mo_sin_rcnt_rev_tl_op'] = transformed_data['mo_sin_rcnt_rev_tl_op'].fillna(-1)
transformed_data['mo_sin_rcnt_tl'] = transformed_data['mo_sin_rcnt_tl'].fillna(-1)
transformed_data['all_util'] = transformed_data['all_util'].fillna(-1)
fill_median = ['chargeoff_within_12_mths']
transformed_data['open_il_12m'] = transformed_data['open_il_12m'].fillna(-1)

In [46]:
transformed_data['chargeoff_within_12_mths'].value_counts(dropna=False)

0.0    1270649
1.0       9100
2.0        652
3.0        121
NaN         56
4.0         39
5.0         12
6.0          9
7.0          4
9.0          3
8.0          1
Name: chargeoff_within_12_mths, dtype: int64

In [47]:
# drop_columns+=['open_il_12m', 'all_util', 'chargeoff_within_12_mths', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl']
# origination_df[['open_il_12m', 'all_util', 'chargeoff_within_12_mths', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl']]

In [48]:
# df.columns[df.columns.str.contains("charge")]

In [49]:
drop_columns+=['revol_bal_joint', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog']

In [50]:
# len(drop_columns)
skeptical_columns = ['open_acc_6m', 'open_act_il', 'open_il_24m', 'open_il_12m', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'mths_since_recent_revol_delinq', 'total_cu_tl', 'inq_last_12m', 'inq_fi']

transformed_data[skeptical_columns] = transformed_data[skeptical_columns].fillna(-1)

In [51]:
transformed_data['mths_since_recent_inq'] = transformed_data['mths_since_recent_inq'].fillna(-1)

In [58]:
df['mths_since_recent_inq'].isna().sum()

160464

In [52]:
# transformed_data[skeptical_columns]
# transformed_data['dti_joint'] = origination_df['dti_joint']
# transformed_data = 
drop_columns+=['title']
transformed_data = transformed_data.drop(columns = drop_columns)
# transformed_data.drop(columns = drop_columns).isna().sum()[transformed_data.drop(columns = drop_columns).isna().sum()>31]

In [53]:
fill_median+=transformed_data.isna().sum()[transformed_data.isna().sum()>31].index.to_list()

Train_test_Split

In [65]:
median_df = pd.DataFrame(origination_df[fill_median].isna().sum()).reset_index()
median_df.columns = ['Variable', 'No. of Null']
median_df

                           Variable  No. of Null
level_0
0          chargeoff_within_12_mths           56
1                               dti          939
2                        revol_util         1008
3                      tot_coll_amt        38815
4                       tot_cur_bal        38815
5              acc_open_past_24mths        27008
6                       avg_cur_bal        38851
7                    bc_open_to_buy        41185
8                           bc_util        41853
9          chargeoff_within_12_mths           56
10                         mort_acc        27008
11             mths_since_recent_bc        40315
12            num_accts_ever_120_pd        38815
13                   num_actv_bc_tl        38815
14                  num_actv_rev_tl        38815
15                      num_bc_sats        31968
16                        num_bc_tl        38815
17                        num_il_tl        38815
18                    num_op_rev_tl        38815
19                    num_rev_accts        38815
20              num_rev_tl_bal_gt_0        38815
21                         num_sats        31968
22                   pct_tl_nvr_dlq        38910
23                 percent_bc_gt_75        41444
24             pub_rec_bankruptcies          435
25                        tax_liens           46
26                  tot_hi_cred_lim        38815
27                total_bal_ex_mort        27008
28                   total_bc_limit        27008
29       total_il_high_credit_limit        38815

In [66]:
dropped_df = pd.DataFrame(origination_df[drop_columns].isna().sum()).reset_index().reset_index().set_index('level_0')
dropped_df.columns = ['Variable', 'No. of Null']
dropped_df

                                    Variable  No. of Null
level_0
0                                 annual_inc           31
1                     mths_since_last_record      1072333
2                                 emp_length        85395
3                                  emp_title        96177
4                                       desc      1209498
5                            revol_bal_joint      1222472
6                   sec_app_earliest_cr_line      1222471
7                     sec_app_inq_last_6mths      1222471
8                           sec_app_mort_acc      1222471
9                           sec_app_open_acc      1222471
10                        sec_app_revol_util      1223480
11                       sec_app_open_act_il      1222471
12                     sec_app_num_rev_accts      1222471
13          sec_app_chargeoff_within_12_mths      1222471
14        sec_app_collections_12_mths_ex_med      1222471
15       sec_app_mths_since_last_major_derog      1260860
16                                     title        14319

In [56]:

# transformed_data[fill_median].median()

In [57]:
# transformed_data['application_type'][transformed_data['tot_coll_amt'].isna()].value_counts(dropna=False)
# # transformed_data['application_type'].value_counts(dropna=False)

# transformed_data['tot_coll_amt'].value_counts()

# Loan Maturity Risk 
loan_mat_risk= Term(2 or 1)/fico_range_low

In [58]:
temp = transformed_data['term'].replace({' 36 months':1, ' 60 months': 2})

This doesn't make sense honestly, dividing your loan term with your all time low score as if your score was low once and now it is all good, you should be encouraed to have a longer loan so that you can pay back. If it is a shorter loan you'll have a lot of burden with very little income.

In [59]:
#Loan Maturity Risk
# transformed_data['mat_risk'] =
# temp/transformed_data['fico_range_low'].hist(bins=40)

#Payment History Score

payment_history_score = (pct_tl_nvr_dlq / 100) - (num_accts_ever_120_pd / total_acc) + (num_bc_sats / total_acc)

In [60]:
transformed_data['payment_history'] = ((transformed_data['pct_tl_nvr_dlq']/100) - (transformed_data['num_accts_ever_120_pd']/transformed_data['total_acc']) - (transformed_data['num_bc_sats']/transformed_data['total_acc']))

# Collateral Coverage Ratio

In [61]:
# transformed_data['total_il_high_credit_limit'].max()
# transfromed_data = transformed_data.drop(transformed_data[transformed_data['total_il_high_credit_limit']==2118996.0].index)
# len(transformed_data.drop(transformed_data[transformed_data['total_il_high_credit_limit']==2118996.0].index)['total_il_high_credit_limit'] / transformed_data.drop(transformed_data[transformed_data['total_il_high_credit_limit']==2118996.0].index)['loan_amnt'])

In [62]:
transformed_data['collateral_coverage_ratio'] = transformed_data['total_il_high_credit_limit']/transformed_data['loan_amnt']

In [63]:
transformed_data

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,installment,home_ownership,purpose,zip_code,addr_state,...,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,Default,bank_dlq,il_acc,payment_history,collateral_coverage_ratio
0,68355089,24700.0,24700.0,24700.0,36 months,820.28,MORTGAGE,small_business,577xx,SD,...,0.0,314017.0,39475.0,79300.0,24667.0,0,0,1,0.631895,0.998664
1,68341763,20000.0,20000.0,20000.0,60 months,432.66,MORTGAGE,home_improvement,605xx,IL,...,0.0,218418.0,18696.0,6200.0,14877.0,0,0,1,0.888889,0.743850
2,67275481,20000.0,20000.0,20000.0,36 months,631.26,MORTGAGE,major_purchase,293xx,SC,...,0.0,193390.0,27937.0,14500.0,36144.0,0,0,1,0.666333,1.807200
3,68616873,8000.0,8000.0,8000.0,36 months,263.74,MORTGAGE,credit_card,029xx,RI,...,0.0,256513.0,113782.0,17000.0,135513.0,0,0,1,0.721778,16.939125
4,68356421,22400.0,22400.0,22400.0,60 months,508.30,MORTGAGE,debt_consolidation,290xx,SC,...,0.0,436841.0,184356.0,21000.0,191682.0,0,0,1,0.798571,8.557232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280641,89955820,24000.0,24000.0,24000.0,60 months,515.74,OWN,credit_card,967xx,HI,...,2.0,128902.0,31320.0,93700.0,28602.0,0,0,1,0.500000,1.191750
1280642,89885898,24000.0,24000.0,24000.0,60 months,543.50,MORTGAGE,home_improvement,356xx,AL,...,0.0,102517.0,104422.0,0.0,52017.0,0,0,1,1.000000,2.167375
1280643,88977788,24000.0,24000.0,24000.0,60 months,515.74,MORTGAGE,debt_consolidation,840xx,UT,...,1.0,227883.0,140118.0,27900.0,172283.0,0,1,1,0.431414,7.178458
1280644,88224441,24000.0,24000.0,24000.0,60 months,564.56,RENT,debt_consolidation,334xx,FL,...,0.0,84664.0,62426.0,20700.0,58764.0,1,0,1,0.768452,2.448500
1280645,88215728,14000.0,14000.0,14000.0,60 months,329.33,MORTGAGE,debt_consolidation,770xx,TX,...,0.0,163804.0,44215.0,9500.0,34169.0,0,1,1,0.454364,2.440643

In [64]:
!pip install git+https://github.com/CBravoR/scorecardpy
import scorecardpy as sc

train, test = sc.split_df(transformed_data,
                          y = 'Default',
                          ratio = 0.7,
                          seed = 251256517).values()

# train_median = train.copy()
train_median = train.copy()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/CBravoR/scorecardpy
  Cloning https://github.com/CBravoR/scorecardpy to /tmp/pip-req-build-if0tfjzj
  Running command git clone --filter=blob:none --quiet https://github.com/CBravoR/scorecardpy /tmp/pip-req-build-if0tfjzj
  Resolved https://github.com/CBravoR/scorecardpy to commit 03ec28470391e5c950580ad9ac4877ca33f05fce
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from scorecardpy==0.1.9.3) (1.22.4)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.9/dist-packages (from scorecardpy==0.1.9.3) (1.4.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.9/dist-packages (from scorecardpy==0.1.9.3) (3.7.1)
Requirement already satisfied: scikit-learn>=0.19.1 in /usr/local/lib/python3.9/dist-packages (from scorecardpy==0.1.9.3) (1.2.2)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.9/dist-packages (from scorecardpy==0.1.9.3) (0.13.5)
Requirement already satisfied: patsy in /usr/local/lib/python3.9/dist-packages (from scorecardpy==0.1.9.3) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.25.0->scorecardpy==0.1.9.3) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.25.0->scorecardpy==0.1.9.3) (2022.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.19.1->scorecardpy==0.1.9.3) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.19.1->scorecardpy==0.1.9.3) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.19.1->scorecardpy==0.1.9.3) (1.1.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->scorecardpy==0.1.9.3) (1.4.4)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->scorecardpy==0.1.9.3) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->scorecardpy==0.1.9.3) (8.4.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->scorecardpy==0.1.9.3) (4.39.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib->scorecardpy==0.1.9.3) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->scorecardpy==0.1.9.3) (23.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->scorecardpy==0.1.9.3) (1.0.7)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->scorecardpy==0.1.9.3) (5.12.0)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy->scorecardpy==0.1.9.3) (1.16.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib->scorecardpy==0.1.9.3) (3.15.0)
Building wheels for collected packages: scorecardpy
  Building wheel for scorecardpy (setup.py) ... done
  Created wheel for scorecardpy: filename=scorecardpy-0.1.9.3-py3-none-any.whl size=59549 sha256=594b0b4b25a647a8173c4f97fb80ebc6cd8a2fe21cac414d20802049c6cb5ad3
  Stored in directory: /tmp/pip-ephem-wheel-cache-sbz3omsi/wheels/61/36/7f/76fa329f36d896910f2251f5cfd54094c722e088b633e47f6f
Successfully built scorecardpy
Installing collected packages: scorecardpy
Successfully installed scorecardpy-0.1.9.3

In [65]:
fill_median+=['payment_history', 'collateral_coverage_ratio']
# train_median[fill_median].isna().sum()
test.isna().sum()

id                               0
loan_amnt                        9
funded_amnt                      9
funded_amnt_inv                  9
term                             9
                             ...
Default                          0
bank_dlq                         0
il_acc                           0
payment_history              11606
collateral_coverage_ratio    11574
Length: 77, dtype: int64

In [66]:
# train_median = train_median.fillna(train_median[fill_median].median().to_dict())
train_median = train_median.fillna(train_median[fill_median].median().to_dict())
test_median = test.fillna(train_median[fill_median].median().to_dict())

In [67]:
# train_median.isna().sum()

In [68]:
test_median.isna().sum()

id                           0
loan_amnt                    9
funded_amnt                  9
funded_amnt_inv              9
term                         9
                            ..
Default                      0
bank_dlq                     0
il_acc                       0
payment_history              0
collateral_coverage_ratio    0
Length: 77, dtype: int64

In [69]:
train_median = train_median.dropna()
test_median = test_median.dropna()

In [71]:
train_median.to_pickle('model/data/train_median.pkl')
# train_median.to_csv('train_median.csv')
transformed_data.to_pickle("model/data/transformed_data.pkl")

In [72]:
test_median.to_pickle('test_median.pkl')