<a href="https://colab.research.google.com/github/preetmodi/Credit-Risk-Analytics/blob/main/Data_Cleaning_P.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mount Drive

In [58]:
!sudo echo -ne '\n' | sudo add-apt-repository ppa:alessandro-strada/ppa >/dev/null 2>&1 # note: >/dev/null 2>&1 is used to supress printing
!sudo apt update >/dev/null 2>&1
!sudo apt install google-drive-ocamlfuse >/dev/null 2>&1
!google-drive-ocamlfuse
!sudo apt-get install w3m >/dev/null 2>&1 # to act as web browser 
!xdg-settings set default-web-browser w3m.desktop >/dev/null 2>&1 # to set default browser 
%cd /content
!mkdir gdrive
%cd gdrive
!mkdir "My Drive"
!google-drive-ocamlfuse "/content/gdrive/My Drive"

/content
mkdir: cannot create directory ‘gdrive’: File exists
/content/gdrive
mkdir: cannot create directory ‘My Drive’: File exists
fuse: mountpoint is not empty
fuse: if you are sure this is safe, use the 'nonempty' mount option

# Unzip files

In [59]:
# %cd /content/gdrive/My Drive/Data/

In [60]:
# !unzip "LCOrigination Data.zip"

# Data Exploration

In [61]:
%cd /content/gdrive/My Drive/Data/

/content/gdrive/My Drive/Data

In [62]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [63]:
!ls

 LCDataDictionaryClean.xlsx   Mid19Clean.pkl   transformed_data.csv
 LCOrigination.csv	      Test.csv
'LCOrigination Data.zip'      Train.csv

In [64]:
df = pd.read_csv("LCOrigination.csv", low_memory=False)

In [65]:
df.iloc[:,-10:]

,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1280641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1280642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1280643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1280644,NaN,NaN,NaN,NaN,NaN,ACTIVE,Mar-2019,10000.0,44.82,1.0
1280645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
df.columns.to_list().index('collection_recovery_fee')

39

In [67]:
df.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,...,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,1.280615e+06,1.280615e+06,1.280615e+06,1.280615e+06,1.280615e+06,1.280615e+06,1.279707e+06,1.280615e+06,1.280615e+06,1.280615e+06,...,8610.0,8610.000000,8610.0,8610.000000,6432.000000,8610.000000,8610.000000,34214.000000,34214.000000,34214.000000
mean,1.513560e+04,1.513023e+04,1.511406e+04,1.340095e+01,4.488773e+02,7.715590e+04,1.898675e+01,3.123031e-01,6.973707e+02,7.013708e+02,...,3.0,159.393786,3.0,14.445296,467.320499,11812.129483,197.559281,5011.163605,47.773142,13.196031
std,9.164207e+03,9.162097e+03,9.163897e+03,4.923413e+00,2.672979e+02,7.592994e+04,1.399290e+01,8.765886e-01,3.246384e+01,3.246464e+01,...,0.0,132.041083,0.0,9.440823,384.066227,7668.925156,199.297305,3691.736410,7.304390,8.159966
min,5.000000e+02,5.000000e+02,0.000000e+00,5.310000e+00,4.930000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,6.250000e+02,6.290000e+02,...,3.0,1.470000,3.0,0.000000,4.410000,174.150000,0.010000,44.210000,0.200000,0.000000
25%,8.000000e+03,8.000000e+03,8.000000e+03,9.930000e+00,2.552500e+02,4.550000e+04,1.206000e+01,0.000000e+00,6.700000e+02,6.740000e+02,...,3.0,61.402500,3.0,7.000000,180.592500,5736.040000,48.102500,2208.370000,45.000000,6.000000
50%,1.300000e+04,1.300000e+04,1.300000e+04,1.279000e+01,3.816400e+02,6.500000e+04,1.805000e+01,0.000000e+00,6.900000e+02,6.940000e+02,...,3.0,122.420000,3.0,16.000000,362.700000,10211.385000,136.885000,4147.000000,45.000000,14.000000
75%,2.000000e+04,2.000000e+04,2.000000e+04,1.614000e+01,5.953100e+02,9.200000e+04,2.472000e+01,0.000000e+00,7.150000e+02,7.190000e+02,...,3.0,220.037500,3.0,23.000000,642.285000,16410.052500,287.407500,6851.195000,50.000000,18.000000
max,4.000000e+04,4.000000e+04,4.000000e+04,3.099000e+01,1.719830e+03,1.099920e+07,9.990000e+02,5.800000e+01,8.450000e+02,8.500000e+02,...,3.0,943.940000,3.0,32.000000,2680.890000,38399.000000,1407.860000,33601.000000,521.350000,181.000000

# Open Metadata FIle

In [68]:
columns = pd.read_excel("LCDataDictionaryClean.xlsx")['Variable'].to_list()
columns

['id',
 'AmountRequested',
 'loan_amnt',
 'term',
 'ApplicationDate',
 'Risk_Score',
 'ficoRangeHigh',
 'ficoRangeLow',
 'acc_open_past_24mths',
 'addr_state',
 'all_util',
 'annual_inc',
 'annual_inc_joint',
 'application_type',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_2yrs',
 'desc',
 'dti',
 'dti_joint',
 'earliest_cr_line',
 'emp_length',
 'emp_title',
 'fico_range_high',
 'fico_range_low',
 'funded_amnt',
 'funded_amnt_inv',
 'home_ownership',
 'il_util',
 'inq_fi',
 'inq_last_12m',
 'inq_last_6mths',
 'max_bal_bc',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_last_record',
 'mths_since_rcnt_il',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'open_acc',
 'open_acc_6m',
 'open_il_12m',
 'open_il_24m',
 'open_act_il',
 'open_rv_12m',
 'open_rv_24m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec',
 'pub_rec_bankruptcies',
 'purpose',
 'revol_bal',
 'revol_util',
 'tax_liens',
 'title',
 'tot_coll_amt',
 'tot_cur_bal',
 'tot_hi_cred_lim',
 'total_acc',
 'total_bal_ex_mort',
 'total_bal_il',
 'total_bc_limit',
 'total_cu_tl',
 'total_il_high_credit_limit',
 'verification_status',
 'zip_code',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'addrState',
 'annual_inc_joint',
 'annualInc',
 'bcOpenToBuy',
 'bcUtil',
 'delinq2Yrs',
 'delinqAmnt',
 'dti',
 'dti_joint',
 'earliestCrLine',
 'empLength',
 'homeOwnership',
 'inqLast6Mths',
 'isIncV',
 'mortAcc',
 'msa',
 'mths_since_oldest_il_open',
 'mthsSinceLastDelinq',
 'mthsSinceLastRecord',
 'mthsSinceMostRecentInq',
 'mthsSinceRecentBc',
 'mthsSinceRecentLoanDelinq',
 'mthsSinceRecentRevolDelinq',
 'openAcc',
 'percentBcGt75',
 'pubRec',
 'revolBal',
 'revolUtil',
 'totalAcc',
 'totalBalExMort',
 'totalBcLimit',
 'sec_app_chargeoff_within_12_mths',
 'Debt_To_IncomeRatio',
 'ZipCode',
 'State',
 'EmploymentLength',
 'installment']

In [69]:
total_columns = [column for column in df.columns.to_list() if column in columns]
total_columns

['id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'installment',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog']

# Performance DF

In [70]:
# perfromance_columns = df.drop(columns = total_columns).columns.to_list()

In [71]:
# perfromance_columns_orig = pd.read_excel("LCDataDictionaryClean.xlsx", sheet_name="Performance")['Variable'].to_list()
# sum([1 for column in perfromance_columns if column in perfromance_columns_orig])

#Origination DF

In [72]:
len(total_columns)

89

In [73]:
df['Default'] = df['loan_status'].apply(lambda x: 1 if x == 'Default' or x=='Charged Off' else 0)
origination_df = df[total_columns+['Default']]

In [74]:
origination_df.isnull().sum()

id                                           0
loan_amnt                                   31
funded_amnt                                 31
funded_amnt_inv                             31
term                                        31
                                        ...
sec_app_num_rev_accts                  1222471
sec_app_chargeoff_within_12_mths       1222471
sec_app_collections_12_mths_ex_med     1222471
sec_app_mths_since_last_major_derog    1260860
Default                                      0
Length: 90, dtype: int64

In [75]:
null_columns = origination_df.columns[origination_df.isnull().any()]
null = origination_df[null_columns[60:]].isnull().sum()

In [76]:
# null[null>31].value_counts()

In [77]:
# null

In [78]:
last_30_df = origination_df[null.index[:17]].dropna()

In [79]:
# last_30_df.describe()

In [80]:
# print(origination_df['num_bc_tl'].value_counts()[0])

In [81]:
# origination_df[null.index[:17]].describe()

In [82]:
# origination_df[origination_df['application_type']=='Joint App']['dti_joint'] # 'annual_inc_joint']].value_counts()

In [83]:
# origination_df['pub_rec'].value_counts(dropna=False)
# origination_df['mths_since_recent_bc_dlq'].isnull().sum()
# origination_df['emp_title'].dropna()[origination_df['emp_title'].dropna().str.startswith("")]

In [84]:
# origination_df['emp_length'].value_counts(dropna=False)[np.nan]

In [85]:
# origination_df.columns[origination_df.columns.str.contains("emp")]
# origination_df[origination_df['emp_length'].isnull()]['emp_title'].value_counts(dropna=False)

In [86]:
# origination_df['emp_length']

In [87]:
# origination_df['mths_since_recent_bc_dlq'].value_counts()

In [88]:
# origination_df['open_acc_6m'][origination_df['mths_since_rcnt_il'].isnull()].value_counts(dropna=False)

In [89]:
# origination_df['mo_sin_old_rev_tl_op'].dropna()

In [90]:
# origination_df['percent_bc_gt_75'].value_counts(dropna=False)

In [91]:
# origination_df[origination_df['application_type']=='Joint App']['sec_app_mort_acc'].value_counts(dropna=False).sum()

In [92]:
# len(origination_df) - 1260860 #58175

In [93]:
# origination_df['sec_app_mths_since_last_major_derog']

#Transformation First 30

In [94]:
transformed_data = origination_df.copy()

### Generate Coborrower income column and delete annual_inc_joint column

In [95]:
transformed_data['annual_inc_joint'][transformed_data['annual_inc_joint'].isna()] = origination_df['annual_inc'][transformed_data['annual_inc_joint'].isna()]
drop_columns = ['annual_inc']

<ipython-input-95-6a9e8886d537>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transformed_data['annual_inc_joint'][transformed_data['annual_inc_joint'].isna()] = origination_df['annual_inc'][transformed_data['annual_inc_joint'].isna()]

In [96]:
transformed_data['dti_joint'] = origination_df['dti_joint'].fillna(0)

In [97]:
drop_columns.append('mths_since_last_record')

In [98]:
drop_columns+=['emp_length', 'emp_title']

In [99]:
drop_columns+=['desc']

In [100]:
transformed_data['bank_dlq'] = np.where(origination_df['mths_since_recent_bc_dlq'].isnull(), 0, 1)
drop_columns+=['mths_since_recent_bc_dlq']

# Transformation Mid 30

In [101]:
transformed_data['il_acc'] = np.where(origination_df['mths_since_rcnt_il'].isnull(), 0, 1)
drop_columns += ['mths_since_rcnt_il']

In [102]:
transformed_data['total_bal_il'] = origination_df['total_bal_il'].fillna(0)

In [103]:
drop_columns

['annual_inc',
 'mths_since_last_record',
 'emp_length',
 'emp_title',
 'desc',
 'mths_since_recent_bc_dlq',
 'mths_since_rcnt_il']

In [104]:
origination_df['il_util'].value_counts(dropna=False)

NaN      618602
81.0      12721
78.0      12655
75.0      12471
83.0      12458
          ...
234.0         1
228.0         1
195.0         1
369.0         1
246.0         1
Name: il_util, Length: 261, dtype: int64

Replacing with -1 to create new caategory for people wo did not have an installment account ever.

In [105]:
transformed_data['il_util'] = origination_df['il_util'].fillna(-1) # Replacing nan with 0 might coincide with the people who have paid up their loans and have 0 balance. Hence, 0 il_util

In [106]:
transformed_data['mo_sin_old_il_acct'] = transformed_data['mo_sin_old_il_acct'].fillna(-1)
transformed_data['mo_sin_old_rev_tl_op'] = transformed_data['mo_sin_old_rev_tl_op'].fillna(-1)
transformed_data['mo_sin_rcnt_rev_tl_op'] = transformed_data['mo_sin_rcnt_rev_tl_op'].fillna(-1)
transformed_data['mo_sin_rcnt_tl'] = transformed_data['mo_sin_rcnt_tl'].fillna(-1)
transformed_data['all_util'] = transformed_data['all_util'].fillna(-1)
fill_median = ['chargeoff_within_12_mths']
transformed_data['open_il_12m'] = transformed_data['open_il_12m'].fillna(-1)

In [107]:
transformed_data['chargeoff_within_12_mths'].value_counts(dropna=False)

0.0    1270649
1.0       9100
2.0        652
3.0        121
NaN         56
4.0         39
5.0         12
6.0          9
7.0          4
9.0          3
8.0          1
Name: chargeoff_within_12_mths, dtype: int64

In [108]:
# drop_columns+=['open_il_12m', 'all_util', 'chargeoff_within_12_mths', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl']
origination_df[['open_il_12m', 'all_util', 'chargeoff_within_12_mths', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl']]

,open_il_12m,all_util,chargeoff_within_12_mths,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl
0,0.0,29.0,0.0,113.0,192.0,2.0,2.0
1,0.0,65.0,0.0,125.0,184.0,14.0,14.0
2,0.0,55.0,0.0,149.0,55.0,32.0,13.0
3,2.0,49.0,0.0,155.0,253.0,15.0,10.0
4,0.0,54.0,0.0,150.0,248.0,1.0,1.0
...,...,...,...,...,...,...,...
1280641,0.0,24.0,0.0,44.0,187.0,0.0,0.0
1280642,1.0,103.0,0.0,201.0,88.0,3.0,3.0
1280643,0.0,59.0,0.0,166.0,307.0,15.0,15.0
1280644,0.0,73.0,0.0,132.0,206.0,9.0,9.0
1280645,1.0,84.0,0.0,149.0,243.0,22.0,7.0

In [109]:
df.columns[df.columns.str.contains("charge")]

Index(['chargeoff_within_12_mths', 'sec_app_chargeoff_within_12_mths'], dtype='object')

In [110]:
drop_columns+=['revol_bal_joint', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog']

In [111]:
# len(drop_columns)
skeptical_columns = ['open_acc_6m', 'open_act_il', 'open_il_24m', 'open_il_12m', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'mths_since_recent_revol_delinq', 'total_cu_tl', 'inq_last_12m', 'inq_fi']

transformed_data[skeptical_columns] = transformed_data[skeptical_columns].fillna(-1)

In [112]:
transformed_data['mths_since_recent_inq'] = transformed_data['mths_since_recent_inq'].fillna(-1)

In [113]:
# transformed_data[skeptical_columns]
# transformed_data['dti_joint'] = origination_df['dti_joint']
# transformed_data = 
drop_columns+=['title']
transformed_data = transformed_data.drop(columns = drop_columns)
# transformed_data.drop(columns = drop_columns).isna().sum()[transformed_data.drop(columns = drop_columns).isna().sum()>31]

In [114]:
fill_median+=transformed_data.isna().sum()[transformed_data.isna().sum()>31].index.to_list()

Train_test_Split

In [115]:

# transformed_data[fill_median].median()

In [116]:
# transformed_data['application_type'][transformed_data['tot_coll_amt'].isna()].value_counts(dropna=False)
# # transformed_data['application_type'].value_counts(dropna=False)

# transformed_data['tot_coll_amt'].value_counts()

# Loan Maturity Risk 
loan_mat_risk= Term(2 or 1)/fico_range_low

In [117]:
temp = transformed_data['term'].replace({' 36 months':1, ' 60 months': 2})

This doesn't make sense honestly, dividing your loan term with your all time low score as if your score was low once and now it is all good, you should be encouraed to have a longer loan so that you can pay back. If it is a shorter loan you'll have a lot of burden with very little income.

In [119]:
#Loan Maturity Risk
# transformed_data['mat_risk'] =
# temp/transformed_data['fico_range_low'].hist(bins=40)

#Payment History Score

payment_history_score = (pct_tl_nvr_dlq / 100) - (num_accts_ever_120_pd / total_acc) + (num_bc_sats / total_acc)

In [120]:
transformed_data['payment_history'] = ((transformed_data['pct_tl_nvr_dlq']/100) - (transformed_data['num_accts_ever_120_pd']/transformed_data['total_acc']) - (transformed_data['num_bc_sats']/transformed_data['total_acc']))

# Collateral Coverage Ratio

In [121]:
# transformed_data['total_il_high_credit_limit'].max()
# transfromed_data = transformed_data.drop(transformed_data[transformed_data['total_il_high_credit_limit']==2118996.0].index)
# len(transformed_data.drop(transformed_data[transformed_data['total_il_high_credit_limit']==2118996.0].index)['total_il_high_credit_limit'] / transformed_data.drop(transformed_data[transformed_data['total_il_high_credit_limit']==2118996.0].index)['loan_amnt'])

In [122]:
transformed_data['collateral_coverage_ratio'] = transformed_data['total_il_high_credit_limit']/transformed_data['loan_amnt']

In [123]:
transformed_data

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,installment,home_ownership,purpose,zip_code,addr_state,...,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,Default,bank_dlq,il_acc,payment_history,collateral_coverage_ratio
0,68355089,24700.0,24700.0,24700.0,36 months,820.28,MORTGAGE,small_business,577xx,SD,...,0.0,314017.0,39475.0,79300.0,24667.0,0,0,1,0.631895,0.998664
1,68341763,20000.0,20000.0,20000.0,60 months,432.66,MORTGAGE,home_improvement,605xx,IL,...,0.0,218418.0,18696.0,6200.0,14877.0,0,0,1,0.888889,0.743850
2,67275481,20000.0,20000.0,20000.0,36 months,631.26,MORTGAGE,major_purchase,293xx,SC,...,0.0,193390.0,27937.0,14500.0,36144.0,0,0,1,0.666333,1.807200
3,68616873,8000.0,8000.0,8000.0,36 months,263.74,MORTGAGE,credit_card,029xx,RI,...,0.0,256513.0,113782.0,17000.0,135513.0,0,0,1,0.721778,16.939125
4,68356421,22400.0,22400.0,22400.0,60 months,508.30,MORTGAGE,debt_consolidation,290xx,SC,...,0.0,436841.0,184356.0,21000.0,191682.0,0,0,1,0.798571,8.557232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280641,89955820,24000.0,24000.0,24000.0,60 months,515.74,OWN,credit_card,967xx,HI,...,2.0,128902.0,31320.0,93700.0,28602.0,0,0,1,0.500000,1.191750
1280642,89885898,24000.0,24000.0,24000.0,60 months,543.50,MORTGAGE,home_improvement,356xx,AL,...,0.0,102517.0,104422.0,0.0,52017.0,0,0,1,1.000000,2.167375
1280643,88977788,24000.0,24000.0,24000.0,60 months,515.74,MORTGAGE,debt_consolidation,840xx,UT,...,1.0,227883.0,140118.0,27900.0,172283.0,0,1,1,0.431414,7.178458
1280644,88224441,24000.0,24000.0,24000.0,60 months,564.56,RENT,debt_consolidation,334xx,FL,...,0.0,84664.0,62426.0,20700.0,58764.0,1,0,1,0.768452,2.448500
1280645,88215728,14000.0,14000.0,14000.0,60 months,329.33,MORTGAGE,debt_consolidation,770xx,TX,...,0.0,163804.0,44215.0,9500.0,34169.0,0,1,1,0.454364,2.440643

In [124]:
# !pip install git+https://github.com/CBravoR/scorecardpy
import scorecardpy as sc

train, test = sc.split_df(transformed_data,
                          y = 'Default',
                          ratio = 0.7,
                          seed = 251256517).values()

train_median = train.copy()
train_mean = train.copy()

ValueError: ignored

In [151]:
# fill_median+=['payment_history', 'collateral_coverage_ratio']
train_median[fill_median].isna().sum()

chargeoff_within_12_mths      0
dti                           0
revol_util                    0
tot_coll_amt                  0
tot_cur_bal                   0
acc_open_past_24mths          0
avg_cur_bal                   0
bc_open_to_buy                0
bc_util                       0
chargeoff_within_12_mths      0
mort_acc                      0
mths_since_recent_bc          0
num_accts_ever_120_pd         0
num_actv_bc_tl                0
num_actv_rev_tl               0
num_bc_sats                   0
num_bc_tl                     0
num_il_tl                     0
num_op_rev_tl                 0
num_rev_accts                 0
num_rev_tl_bal_gt_0           0
num_sats                      0
pct_tl_nvr_dlq                0
percent_bc_gt_75              0
pub_rec_bankruptcies          0
tax_liens                     0
tot_hi_cred_lim               0
total_bal_ex_mort             0
total_bc_limit                0
total_il_high_credit_limit    0
collateral_coverage_ratio     0
payment_history               0
dtype: int64

In [153]:
train_median = train_median.fillna(train_median[fill_median].median().to_dict())
train_mean = train_mean.fillna(train_mean[fill_median].mean().to_dict())

In [152]:
train_median.isna().sum()

id                            0
loan_amnt                    22
funded_amnt                  22
funded_amnt_inv              22
term                         22
                             ..
Default                       0
bank_dlq                      0
il_acc                        0
payment_history               0
collateral_coverage_ratio     0
Length: 75, dtype: int64

In [154]:
train_mean.isna().sum()

id                            0
loan_amnt                    22
funded_amnt                  22
funded_amnt_inv              22
term                         22
                             ..
Default                       0
bank_dlq                      0
il_acc                        0
payment_history               0
collateral_coverage_ratio     0
Length: 75, dtype: int64

In [155]:
train_mean = train_mean.dropna()
train_median = train_median.dropna()

In [156]:
train_mean.to_csv('train_mean.csv')
train_median.to_csv('train_median.csv')
transformed_data.to_csv("transformed_data.csv")