<a href="https://colab.research.google.com/github/preetmodi/Credit-Risk-Analytics/blob/main/performance_variable_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!sudo echo -ne '\n' | sudo add-apt-repository ppa:alessandro-strada/ppa >/dev/null 2>&1 # note: >/dev/null 2>&1 is used to supress printing
!sudo apt update >/dev/null 2>&1
!sudo apt install google-drive-ocamlfuse >/dev/null 2>&1
!google-drive-ocamlfuse
!sudo apt-get install w3m >/dev/null 2>&1 # to act as web browser 
!xdg-settings set default-web-browser w3m.desktop >/dev/null 2>&1 # to set default browser 
%cd /content
!mkdir gdrive
%cd gdrive
!mkdir "My Drive"
!google-drive-ocamlfuse "/content/gdrive/My Drive"

/usr/bin/xdg-open: 869: www-browser: not found
/usr/bin/xdg-open: 869: links2: not found
/usr/bin/xdg-open: 869: elinks: not found
/usr/bin/xdg-open: 869: links: not found
/usr/bin/xdg-open: 869: lynx: not found
/usr/bin/xdg-open: 869: w3m: not found
xdg-open: no method available for opening 'https://accounts.google.com/o/oauth2/auth?client_id=564921029129.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fgd-ocaml-auth.appspot.com%2Foauth2callback&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force&state=uzanlqk6FxSPd1fxrHL0H9XiC%2FzxHkjqyTajx9Kzzic'
/bin/sh: 1: firefox: not found
/bin/sh: 1: google-chrome: not found
/bin/sh: 1: chromium-browser: not found
/bin/sh: 1: open: not found
Cannot retrieve auth tokens.
Failure("Error opening URL:https://accounts.google.com/o/oauth2/auth?client_id=564921029129.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fgd-ocaml-auth.appspot.com%2Foauth2callback&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force&state=uzanlqk6FxSPd1fxrHL0H9XiC%2FzxHkjqyTajx9Kzzic")
/content
/content/gdrive
Access token retrieved correctly.

In [2]:
%cd /content/gdrive/My Drive/Data/

/content/gdrive/My Drive/Data

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("LCOrigination.csv", low_memory=False)

In [5]:
performance_columns = pd.read_excel("LCDataDictionaryClean.xlsx", sheet_name="Performance")['Variable'].to_list()
performance_columns

['collection_recovery_fee',
 'delinq_amnt',
 'grade',
 'issue_d',
 'last_pymnt_amnt',
 'last_pymnt_d',
 'loan_status',
 'mths_since_last_delinq',
 'mths_since_last_major_derog',
 'next_pymnt_d',
 'pymnt_plan',
 'recoveries',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term',
 'acceptD',
 'accNowDelinq',
 'accOpenPast24Mths',
 'effective_int_rate',
 'int_rate',
 'total_pymnt',
 'total_rec_int',
 'total_rec_late_fee',
 'total_rec_prncp',
 'total_rev_hi_lim',
 'out_prncp',
 'out_prncp_inv']

In [6]:
origination_cols = pd.read_excel("LCDataDictionaryClean.xlsx", sheet_name="Origination")['Variable'].to_list()
origination_cols

['id',
 'AmountRequested',
 'loan_amnt',
 'term',
 'ApplicationDate',
 'Risk_Score',
 'ficoRangeHigh',
 'ficoRangeLow',
 'acc_open_past_24mths',
 'addr_state',
 'all_util',
 'annual_inc',
 'annual_inc_joint',
 'application_type',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_2yrs',
 'desc',
 'dti',
 'dti_joint',
 'earliest_cr_line',
 'emp_length',
 'emp_title',
 'fico_range_high',
 'fico_range_low',
 'funded_amnt',
 'funded_amnt_inv',
 'home_ownership',
 'il_util',
 'inq_fi',
 'inq_last_12m',
 'inq_last_6mths',
 'max_bal_bc',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_last_record',
 'mths_since_rcnt_il',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'open_acc',
 'open_acc_6m',
 'open_il_12m',
 'open_il_24m',
 'open_act_il',
 'open_rv_12m',
 'open_rv_24m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec',
 'pub_rec_bankruptcies',
 'purpose',
 'revol_bal',
 'revol_util',
 'tax_liens',
 'title',
 'tot_coll_amt',
 'tot_cur_bal',
 'tot_hi_cred_lim',
 'total_acc',
 'total_bal_ex_mort',
 'total_bal_il',
 'total_bc_limit',
 'total_cu_tl',
 'total_il_high_credit_limit',
 'verification_status',
 'zip_code',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'addrState',
 'annual_inc_joint',
 'annualInc',
 'bcOpenToBuy',
 'bcUtil',
 'delinq2Yrs',
 'delinqAmnt',
 'dti',
 'dti_joint',
 'earliestCrLine',
 'empLength',
 'homeOwnership',
 'inqLast6Mths',
 'isIncV',
 'mortAcc',
 'msa',
 'mths_since_oldest_il_open',
 'mthsSinceLastDelinq',
 'mthsSinceLastRecord',
 'mthsSinceMostRecentInq',
 'mthsSinceRecentBc',
 'mthsSinceRecentLoanDelinq',
 'mthsSinceRecentRevolDelinq',
 'openAcc',
 'percentBcGt75',
 'pubRec',
 'revolBal',
 'revolUtil',
 'totalAcc',
 'totalBalExMort',
 'totalBcLimit',
 'sec_app_chargeoff_within_12_mths',
 'Debt_To_IncomeRatio',
 'ZipCode',
 'State',
 'EmploymentLength',
 'installment']

In [7]:
existing_cols = [col for col in performance_columns if col in df.columns]

In [8]:
[col for col in origination_cols if col in performance_columns]

[]

In [9]:
df['Default'] = df['loan_status'].apply(lambda x: 1 if x == 'Default' or x=='Charged Off' else 0)
performance_df = df[existing_cols+['Default', 'id']]

In [10]:
performance_df.describe()

,collection_recovery_fee,delinq_amnt,last_pymnt_amnt,mths_since_last_delinq,mths_since_last_major_derog,recoveries,deferral_term,hardship_amount,hardship_length,hardship_dpd,...,settlement_term,int_rate,total_pymnt,total_rec_int,total_rec_late_fee,total_rec_prncp,total_rev_hi_lim,out_prncp,out_prncp_inv,Default
count,1.280615e+06,1.280615e+06,1.280615e+06,628835.000000,334711.000000,1.280615e+06,8610.0,8610.000000,8610.0,8610.000000,...,34214.000000,1.280615e+06,1.280615e+06,1.280615e+06,1.280615e+06,1.280615e+06,1.241831e+06,1.280615e+06,1.280615e+06,1.280646e+06
mean,4.226226e+01,1.336188e+01,3.082601e+03,34.449293,44.048893,2.536364e+02,3.0,159.393786,3.0,14.445296,...,13.196031,1.340095e+01,1.165618e+04,2.473136e+03,2.034910e+00,8.927372e+03,3.396459e+04,3.860562e+03,3.859707e+03,2.097371e-01
std,1.716801e+02,7.542103e+02,5.734556e+03,21.895522,21.530362,9.788124e+02,0.0,132.041083,0.0,9.440823,...,8.159966,4.923413e+00,9.667649e+03,2.699846e+03,1.375902e+01,8.116407e+03,3.645413e+04,7.133214e+03,7.132306e+03,4.071211e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,3.0,1.470000,3.0,0.000000,...,0.000000,5.310000e+00,0.000000e+00,0.000000e+00,-5.100000e-09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,3.028300e+02,16.000000,27.000000,0.000000e+00,3.0,61.402500,3.0,7.000000,...,6.000000,9.930000e+00,4.369165e+03,7.434900e+02,0.000000e+00,2.732755e+03,1.450000e+04,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,5.538900e+02,31.000000,44.000000,0.000000e+00,3.0,122.420000,3.0,16.000000,...,14.000000,1.279000e+01,8.903200e+03,1.562190e+03,0.000000e+00,6.252280e+03,2.500000e+04,0.000000e+00,0.000000e+00,0.000000e+00
75%,0.000000e+00,0.000000e+00,2.589730e+03,50.000000,62.000000,0.000000e+00,3.0,220.037500,3.0,23.000000,...,18.000000,1.614000e+01,1.630571e+04,3.178630e+03,0.000000e+00,1.238629e+04,4.240000e+04,5.140220e+03,5.137990e+03,0.000000e+00
max,7.174719e+03,2.499250e+05,4.219205e+04,226.000000,226.000000,3.985955e+04,3.0,943.940000,3.0,32.000000,...,181.000000,3.099000e+01,6.329688e+04,2.819250e+04,1.484340e+03,4.000000e+04,9.999999e+06,4.000000e+04,4.000000e+04,1.000000e+00

In [ ]:
performance_df.isnull().sum()

collection_recovery_fee                            31
delinq_amnt                                        31
issue_d                                            31
last_pymnt_amnt                                    31
last_pymnt_d                                        0
loan_status                                        31
mths_since_last_delinq                              0
mths_since_last_major_derog                         0
next_pymnt_d                                   807200
pymnt_plan                                         31
recoveries                                         31
hardship_flag                                      31
hardship_type                                 1272036
hardship_reason                               1272036
hardship_status                               1272036
deferral_term                                 1272036
hardship_amount                               1272036
hardship_start_date                           1272036
hardship_end_date                             1272036
payment_plan_start_date                       1272036
hardship_length                               1272036
hardship_dpd                                  1272036
hardship_loan_status                          1272036
orig_projected_additional_accrued_interest    1274214
hardship_payoff_balance_amount                1272036
hardship_last_payment_amount                  1272036
settlement_status                             1246432
settlement_date                               1246432
settlement_amount                             1246432
settlement_percentage                         1246432
settlement_term                               1246432
int_rate                                           31
total_pymnt                                        31
total_rec_int                                      31
total_rec_late_fee                                 31
total_rec_prncp                                    31
total_rev_hi_lim                                    0
out_prncp                                          31
out_prncp_inv                                      31
Default                                             0
hardship_broken                                     0
dtype: int64

In [ ]:
performance_df.loc[:, ["pymnt_plan", "next_pymnt_d", "Default"]].value_counts(dropna=False)

pymnt_plan  next_pymnt_d  Default
n           NaN           0          538610
            Apr-2019      0          472585
            NaN           1          268559
y           Apr-2019      0             619
n           Mar-2019      0             133
            May-2019      0              66
            Apr-2019      1              40
NaN         NaN           0              31
n           Feb-2018      0               1
            Feb-2019      0               1
            Sep-2018      0               1
dtype: int64

In [ ]:
performance_df[["mths_since_last_delinq", "last_pymnt_d", "mths_since_last_major_derog", "next_pymnt_d"]] = performance_df[["mths_since_last_delinq", "last_pymnt_d", "mths_since_last_major_derog", "next_pymnt_d"]].fillna(-1)

<ipython-input-127-4b50f9c10df3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  performance_df[["mths_since_last_delinq", "last_pymnt_d", "mths_since_last_major_derog", "next_pymnt_d"]] = performance_df[["mths_since_last_delinq", "last_pymnt_d", "mths_since_last_major_derog", "next_pymnt_d"]].fillna(-1)

In [ ]:
performance_df["mths_since_last_delinq"].value_counts(dropna=False)

-1.0      651811
 12.0      12015
 6.0       11961
 13.0      11868
 9.0       11784
           ...
 154.0         1
 226.0         1
 138.0         1
 162.0         1
 168.0         1
Name: mths_since_last_delinq, Length: 164, dtype: int64

In [ ]:
performance_df[performance_df['next_pymnt_d'].isna()]['pymnt_plan'].value_counts(dropna=False)

n      807169
NaN        31
Name: pymnt_plan, dtype: int64

In [ ]:
performance_df[performance_df['total_rev_hi_lim'].isna()]['total_pymnt'].value_counts(dropna=False)

NaN             31
0.000000        23
11977.780000     7
10956.775962     4
11977.780000     4
                ..
22295.896790     1
5759.146809      1
14633.227048     1
12828.046844     1
11163.948255     1
Name: total_pymnt, Length: 38531, dtype: int64

In [ ]:
fill_median = ['total_rev_hi_lim']

In [ ]:
# performance_df[performance_df['hardship_type'].notna()]['hardship_flag'].value_counts(dropna=False)
performance_df['hard']

N    7779
Y     831
Name: hardship_flag, dtype: int64

In [ ]:
performance_df[(performance_df['hardship_type'].notna()) & (performance_df['orig_projected_additional_accrued_interest'].isna())]['orig_projected_additional_accrued_interest'] = 1.0

<ipython-input-81-24e8d0095dbd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  performance_df[(performance_df['hardship_type'].notna()) & (performance_df['orig_projected_additional_accrued_interest'].isna())]['orig_projected_additional_accrued_interest'] = 1.0

In [ ]:
performance_df[['orig_projected_additional_accrued_interest', 'hardship_flag']].value_counts(dropna=False)

orig_projected_additional_accrued_interest  hardship_flag
NaN                                         N                1274183
                                            NaN                   31
200.37                                      N                      4
268.14                                      N                      4
154.77                                      N                      4
                                                              ...
257.82                                      N                      1
257.49                                      N                      1
257.40                                      Y                      1
257.31                                      N                      1
379.08                                      Y                      1
Length: 5927, dtype: int64

In [ ]:
performance_df[performance_df['hardship_flag']=='N']

,collection_recovery_fee,delinq_amnt,issue_d,last_pymnt_amnt,last_pymnt_d,loan_status,mths_since_last_delinq,mths_since_last_major_derog,next_pymnt_d,pymnt_plan,...,settlement_term,int_rate,total_pymnt,total_rec_int,total_rec_late_fee,total_rec_prncp,total_rev_hi_lim,out_prncp,out_prncp_inv,Default
0,0.0,0.0,Dec-2015,926.35,Jun-2016,Fully Paid,6.0,-1.0,NaN,n,...,NaN,11.99,25679.660000,979.66,0.00,24700.00,111800.0,0.00,0.00,0
1,0.0,0.0,Dec-2015,15813.30,Jun-2017,Fully Paid,-1.0,-1.0,NaN,n,...,NaN,10.78,22705.924294,2705.92,0.00,20000.00,14000.0,0.00,0.00,0
2,0.0,0.0,Dec-2015,14618.23,Jan-2017,Fully Paid,3.0,3.0,NaN,n,...,NaN,8.49,21538.508977,1538.51,0.00,20000.00,14500.0,0.00,0.00,0
3,0.0,0.0,Dec-2015,4996.24,Apr-2017,Fully Paid,75.0,75.0,NaN,n,...,NaN,11.48,8939.580503,939.58,0.00,8000.00,18000.0,0.00,0.00,0
4,0.0,0.0,Dec-2015,508.30,Feb-2019,Current,54.0,54.0,Apr-2019,n,...,NaN,12.88,19275.330000,6788.21,0.00,12487.12,39800.0,9912.88,9912.88,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280641,0.0,0.0,Oct-2016,515.74,Mar-2019,Current,-1.0,-1.0,Apr-2019,n,...,NaN,10.49,14977.430000,4928.86,0.00,10048.57,100300.0,13951.43,13951.43,0
1280642,0.0,0.0,Oct-2016,543.50,Mar-2019,Current,-1.0,-1.0,Apr-2019,n,...,NaN,12.79,15760.500000,6047.89,0.00,9712.61,50500.0,14287.39,14287.39,0
1280643,0.0,0.0,Oct-2016,515.74,Mar-2019,Current,60.0,60.0,Apr-2019,n,...,NaN,10.49,15008.530000,4959.95,0.00,10048.58,55600.0,13951.42,13951.42,0
1280644,0.0,0.0,Oct-2016,564.56,Oct-2017,Charged Off,67.0,67.0,NaN,n,...,1.0,14.49,6755.400000,3233.49,0.00,3521.91,25900.0,0.00,0.00,1
1280645,0.0,0.0,Oct-2016,329.33,Mar-2019,Current,37.0,37.0,Apr-2019,n,...,NaN,14.49,9621.250000,4027.96,49.41,5543.88,14200.0,8456.12,8456.12,0

In [ ]:
performance_df['hardship_flag'].value_counts()

N    1279784
Y        831
Name: hardship_flag, dtype: int64

In [ ]:
performance_df['hardship_broken'] = performance_df['orig_projected_additional_accrued_interest']

performance_df[performance_df['hardship_broken']==1.0]

<ipython-input-82-a965ee93fa61>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  performance_df['hardship_broken'] = performance_df['orig_projected_additional_accrued_interest']

Empty DataFrame
Columns: [collection_recovery_fee, delinq_amnt, issue_d, last_pymnt_amnt, last_pymnt_d, loan_status, mths_since_last_delinq, mths_since_last_major_derog, next_pymnt_d, pymnt_plan, recoveries, hardship_flag, hardship_type, hardship_reason, hardship_status, deferral_term, hardship_amount, hardship_start_date, hardship_end_date, payment_plan_start_date, hardship_length, hardship_dpd, hardship_loan_status, orig_projected_additional_accrued_interest, hardship_payoff_balance_amount, hardship_last_payment_amount, settlement_status, settlement_date, settlement_amount, settlement_percentage, settlement_term, int_rate, total_pymnt, total_rec_int, total_rec_late_fee, total_rec_prncp, total_rev_hi_lim, out_prncp, out_prncp_inv, Default, hardship_broken]
Index: []

[0 rows x 41 columns]

In [ ]:
performance_df['hardship_broken'] = 0
performance_df.loc[(performance_df['hardship_type'].notna()) & (performance_df['orig_projected_additional_accrued_interest'].isna()), 'hardship_broken'] = 1

<ipython-input-107-c6ad7893dde5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  performance_df['hardship_broken'] = 0

In [ ]:
performance_df[fill_median] = performance_df[fill_median].fillna(performance_df[fill_median].median())

<ipython-input-114-75197f392b80>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  performance_df[fill_median] = performance_df[fill_median].fillna(performance_df[fill_median].median())

In [ ]:
performance_df['next_payment_date'] = 0

performance_df.loc[performance_df['next_pymnt_d'].notna(), 'next_payment_date'] = 1

performance_df.loc[(performance_df['next_pymnt_d'].isna()) & (performance_df['loan_status']=='Fully Paid'), 'next_payment_date'] = -1


drop_columns = ['next_pymnt_d']

In [ ]:
performance_df['loan_status'].value_counts(dropna=False)

Fully Paid            538610
Current               439154
Charged Off           268559
Late (31-120 days)     21467
In Grace Period         8436
Late (16-30 days)       4349
Default                   40
NaN                       31
Name: loan_status, dtype: int64

In [ ]:
drop_columns+= performance_df.columns[performance_df.isna().sum()>31].to_list()

In [ ]:
performance_df = performance_df.drop(drop_columns, axis = 1)

In [ ]:
performance_df

,collection_recovery_fee,delinq_amnt,issue_d,last_pymnt_amnt,last_pymnt_d,loan_status,mths_since_last_delinq,mths_since_last_major_derog,pymnt_plan,recoveries,...,total_pymnt,total_rec_int,total_rec_late_fee,total_rec_prncp,total_rev_hi_lim,out_prncp,out_prncp_inv,Default,hardship_broken,next_payment_date
0,0.0,0.0,Dec-2015,926.35,Jun-2016,Fully Paid,6.0,-1.0,n,0.0,...,25679.660000,979.66,0.00,24700.00,111800.0,0.00,0.00,0,0,-1
1,0.0,0.0,Dec-2015,15813.30,Jun-2017,Fully Paid,-1.0,-1.0,n,0.0,...,22705.924294,2705.92,0.00,20000.00,14000.0,0.00,0.00,0,0,-1
2,0.0,0.0,Dec-2015,14618.23,Jan-2017,Fully Paid,3.0,3.0,n,0.0,...,21538.508977,1538.51,0.00,20000.00,14500.0,0.00,0.00,0,0,-1
3,0.0,0.0,Dec-2015,4996.24,Apr-2017,Fully Paid,75.0,75.0,n,0.0,...,8939.580503,939.58,0.00,8000.00,18000.0,0.00,0.00,0,0,-1
4,0.0,0.0,Dec-2015,508.30,Feb-2019,Current,54.0,54.0,n,0.0,...,19275.330000,6788.21,0.00,12487.12,39800.0,9912.88,9912.88,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280641,0.0,0.0,Oct-2016,515.74,Mar-2019,Current,-1.0,-1.0,n,0.0,...,14977.430000,4928.86,0.00,10048.57,100300.0,13951.43,13951.43,0,0,1
1280642,0.0,0.0,Oct-2016,543.50,Mar-2019,Current,-1.0,-1.0,n,0.0,...,15760.500000,6047.89,0.00,9712.61,50500.0,14287.39,14287.39,0,0,1
1280643,0.0,0.0,Oct-2016,515.74,Mar-2019,Current,60.0,60.0,n,0.0,...,15008.530000,4959.95,0.00,10048.58,55600.0,13951.42,13951.42,0,0,1
1280644,0.0,0.0,Oct-2016,564.56,Oct-2017,Charged Off,67.0,67.0,n,0.0,...,6755.400000,3233.49,0.00,3521.91,25900.0,0.00,0.00,1,0,0
1280645,0.0,0.0,Oct-2016,329.33,Mar-2019,Current,37.0,37.0,n,0.0,...,9621.250000,4027.96,49.41,5543.88,14200.0,8456.12,8456.12,0,0,1

In [ ]:
performance_df.to_pickle('/content/gdrive/My Drive/Data/model (8531c93a)/data/performance_cleaned.pkl')

/content/gdrive/My Drive/Data

In [11]:
performance_df = pd.read_pickle('model/data/performance_cleaned.pkl')

In [12]:
performance_df['id'] = df['id']

In [14]:
performance_df.to_pickle('model/data/performance_cleaned.pkl')